@use "global" as *;

.blog-card {
  margin-top: rem(30);
  display: grid;
  gap: rem(38);
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(80);
  }
}

.blog-card__item {
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  @include mq("md") {
    max-width: rem(333);
  }
}

.blog-card__item a {
  padding: rem(16) rem(16) rem(24) rem(16);
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  height: 100%;
  display: block;
}

.blog-card__item a:hover {
  opacity: 0.7;
}

.blog-card__img {
  width: 100%;
}

.blog-card__img img {
  width: 100%;
  aspect-ratio: 301 / 201;
  object-fit: cover;
}

.blog-card__body {
  margin-top: rem(18);
}

.blog-card__meta {
  padding-bottom: rem(4);
  border-bottom: 1px solid $green;
}

.blog-card__time {
  font-size: rem(12);
  color: $dark-green;
  line-height: 1.5;
  font-family: $font-family-en;
}

.blog-card__category {
  font-family: $font-family-jp;
  font-size: rem(16);
  font-weight: $medium;
  color: $dark-green;
}

.blog-card__text {
  margin-top: rem(16);
  color: $dark-green;
}
