@use "global" as *;

.fadeIn {
  display: flex;
}

.fadeIn__left {
  //   position: absolute;
  //   //   bottom: -100%; /* 初期状態では下に隠れている */
  //   left: 0;
  //   opacity: 0;
  //   transition: opacity 1s ease, bottom 1s ease;
  width: 50vw;
  height: 100vh;
}

.fadeIn__right {
  width: 50vw;
  height: 100vh;
}

// .offset-image {
//   //   bottom: -100%;
//   top: 80px; /* 2番目の画像を80px右にずらす */
// }

// .main-image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   opacity: 0; /* 初期状態では不透明 */
//   transition: opacity 1s ease;
// }
