@use "global" as *;

.layout-contact {
  position: relative;
  margin-top: rem(78);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.layout-contact.layout-contact--aboutus {
  @include mq("md") {
    margin-top: rem(126);
  }
}

.layout-contact.layout-contact--campaign {
  margin-top: rem(104);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.layout-contact.layout-contact--blog {
  @include mq("md") {
    margin-top: rem(146);
  }
}

.layout-contact.layout-contact--voice {
  margin-top: rem(105);
  @include mq("md") {
    margin-top: rem(139);
  }
}

.layout-contact.layout-contact--info {
  margin-top: rem(103);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.layout-contact.layout-contact--price {
  margin-top: rem(92);
  @include mq("md") {
    margin-top: rem(111);
  }
}

.layout-contact.layout-contact--site-map {
  margin-top: rem(132);
  @include mq("md") {
  }
}

.layout-contact.layout-contact--terms-of-service {
  margin-top: rem(106);
  @include mq("md") {
    margin-top: rem(137);
  }
}
