@use "global" as *;

.title {
  font-family: $font-family-en2;
  font-size: rem(40);
  font-weight: normal;
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  color: $white;
  @include mq("md") {
    font-size: rem(80);
  }
}

.title__sub {
  font-size: rem(20);
  font-family: $font-family-en;
  color: $white;
}

.title.title--green {
  color: $green;
}

.title__sub.title__sub--green {
  color: $green;
}
