@use "global" as *;

.button {
  position: relative;
  width: rem(202);
  height: 100%;
  font-size: rem(14);
  font-family: $font-family-en;
  background-color: $green;
  color: $white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(16) rem(10);
  line-height: calc(22 / 14);
  // z-index: 10;
}

.button::before {
  position: absolute;
  content: "";
  border: 1px solid $green;
  top: rem(4);
  right: rem(-4);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.button span {
  display: inline-block;
}

.button span::after {
  display: inline-block;
  margin-left: rem(8);
  content: "";
  background-image: url(../images/common/button-arrow_1.svg);
  width: rem(40);
  height: rem(6);
  background-repeat: no-repeat;
  background-size: contain;
  // z-index: -1;
}

.button:hover {
  color: $green;
  background-color: $white;
  border: 1px solid $green;
}

.button:hover span::after {
  content: "";
  background-image: url(../images/common/button-arrow_2.svg);
  width: rem(40);
  height: rem(6);
  background-repeat: no-repeat;
  background-size: contain;
}

// .button span {
//   position: relative;
//   display: inline-block;
//   height: inherit;
//   padding: rem(16) rem(88) rem(16) rem(40);
// }

// .button span::before {
//   position: absolute;
//   content: "";
//   // background-image: url(../images/common/button-arrow_2.svg);
//   width: rem(6);
//   height: rem(1);
//   background-color: $white;
//   border-radius: 2px;
//   transform: rotate(45deg);
//   top: 45.5%;
//   right: rem(39);
// }

// .button span::after {
//   position: absolute;
//   content: "";
//   width: rem(40);
//   height: rem(1);
//   background-color: $white;
//   border-radius: 2px;
//   top: 50%;
//   margin-left: rem(8);
// }

// .button span:hover::before,
// .button span:hover::after {
//   background-color: $green;
// }

// background-image: url(../images/common/button-arrow_1);
