@use "global" as *;

.campaign {
  overflow-x: hidden;
  padding: rem(10) 0;
}

.campaign__swiper-wrap {
  margin-top: rem(19);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  padding: 4px 0;
  @include mq("md") {
    margin-top: rem(-9);
  }
}

.campaign__swiper.swiper {
  padding: 4px 0;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  display: none;
  @include mq("md") {
    display: flex;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @include mq("md") {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(80);
    height: rem(80);
    margin: auto;
  }
}

.swiper-button-prev::after {
  @include mq("md") {
    top: rem(-35);
    left: rem(991);
  }
}

.swiper-button-next::after {
  @include mq("md") {
    top: rem(-54);
    left: rem(850);
  }
}

.swiper-button-prev::after {
  @include mq("md") {
    background-image: url(../images/common/navigation-prev.png);
  }
}

.swiper-button-next::after {
  @include mq("md") {
    background-image: url(../images/common/navigation-next.png);
  }
}

.campaign__button {
  text-align: center;
  margin-top: rem(33);
  @include mq("md") {
    margin-top: rem(70);
  }
}
