@use "global" as *;

.footer {
  background-color: $green;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__wrap {
  // margin-left: rem(15);
}

.footer__inner.inner {
  @include mq("md") {
    // max-width: 1008px;
  }
}

.footer__logo {
  max-width: rem(120);
  width: 100%;
  @include mq("md") {
    max-width: rem(200);
  }
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__sns {
  display: flex;
  margin-top: rem(16);
}

.footer__sns-icon {
  display: block;
  max-width: rem(24);
  width: 100%;
}

.footer__sns-icon + .footer__sns-icon {
  margin-left: rem(16);
}

.footer__sns-icn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__copyright {
  text-align: center;
  margin-top: rem(40);
  display: block;
  @include mq("md") {
    margin-top: rem(80);
  }
}

.footer__copyright p {
  font-size: rem(12);
  font-family: $font-family-en;
  color: $white;
}
