@use "global" as *;

.garellry {
  position: relative;
}

.gallery__list {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
.zoom__content {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#202020, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom__content img {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
