@use "global" as *;

.wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wp-pagenavi.wp-pagenavi--detail {
  justify-content: space-between;
  width: 158px;
}

.wp-pagenavi.wp-pagenavi--detail a:nth-child(2) {
  margin-left: rem(0);
}

.wp-pagenavi a {
  padding: rem(9) rem(14);
  line-height: 1;
  width: rem(38);
  height: rem(38);
  background-color: $white;
  color: $green;
  border: 1px solid $green;
  transition: 0.3s;
  // margin-left: rem(12);
}

.wp-pagenavi a:hover {
  color: $white;
  background-color: $green;
}

.wp-pagenavi a:not(:first-child) {
  margin-left: rem(12);
}

.wp-pagenavi a:nth-child(2) {
  margin-left: rem(40);
}

.wp-pagenavi a:last-child {
  margin-left: rem(40);
}
